:root {
  --text-color: rgba(33, 33, 33, 1);
  --text-color-second: rgba(117, 117, 117, 1);
  --text-color-third: rgba(255, 255, 255, 1);
  --text-color-fourth: rgba(255, 255, 255, 0.6);
  --mark-color: rgba(33, 150, 243, 1);
  --studio-color: rgba(0, 0, 0, 1);
  --background-second: rgba(47, 48, 58, 1);
  --button-color: rgba(245, 244, 250, 1);
  --border-header: rgba(236, 236, 236, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--mark-color);
}

.container > .section > .motto {
  width: 1200px;
  margin: 0 auto;
}

.content-width {
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.web {
  color: var(--mark-color);
}

.studio {
  color: var(--studio-color);
}

.studio-second {
  color: var(--text-color-third);
}

.header-text {
  display: flex;
  margin: 0 auto;
  padding: 16px 21px 17px 21px;
  justify-content: center;
  align-items: center;
  border-bottom: 1px var(--border-header) solid;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
}

.header-navigation {
  display: flex;
  width: 347px;
  justify-content: space-between;
  padding: 0 0 0 93px;
  list-style: none;
}

.header-address {
  display: flex;
  width: 666px;
  padding: 0 0 0 371px;
  justify-content: space-between;
  list-style: none;
  /*
    border-color: rgb(0, 0, 0);
  border-width: 1px;
  border-style: dashed;*/
}

.contact {
  color: var(--text-color-second);
}

.section {
  padding: 94px 0 94px 0;
}

.section-two {
  padding: 0 0 94px 0;
}

.portfolio-button {
  display: flex;
  margin: 0 auto;
  padding: 0 0 50px 0;
  max-width: 572px;
  list-style: none;
  justify-content: space-between;
  /*border-color: pink;
  border-width: 1px;
  border-style: dashed;*/
}

.button-main {
  background-color: var(--button-color);
  padding: 6px 22px 6px 22px;
  border-style: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
}

.button-main:hover,
.button-main:focus {
  background-color: var(--mark-color);
  padding: 6px 22px 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color-third);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-style {
  padding: 60px 0 60px 15px;
  margin: 0 auto;
  background-color: var(--background-second);
  color: var(--text-color-third);
  font-size: 14px;
  line-height: 1.71;
}

.footer-address {
  list-style: none;
  padding: 20px 0 0 0;
}

.contact-footer {
  color: var(--text-color-fourth);
}

#kontakt {
  font-style: normal;
  list-style: none;
}

.motto {
  padding: 200px 0 200px 0;
  background-color: var(--background-second);
  text-align: center;
}

.motto h1 {
  max-width: 696px;
  padding: 0 20px 30px 20px;
  color: var(--text-color-third);
  margin: auto;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}

.button-alternative {
  background-color: var(--mark-color);
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-third);
  cursor: pointer;
}

.text-main {
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1170px;
  list-style: none;
}

.text-main li:nth-child(-n + 3) {
  padding: 0 30px 0 0;
}

.header-third {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.text-main-item {
  margin: 0;
  padding: 10px 0 0 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color-second);
}

.header-second {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.section-two-pictures {
  list-style: none;
  display: flex;
  padding: 50px 15px 0 15px;
  margin: 0 auto;
  justify-content: space-between;
}

#agencja {
  background-color: var(--button-color);
}

.imagedecor-one figure {
  background-color: var(--text-color-third);
  margin: 0;
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.imagedecor-one {
  display: flex;
  list-style: none;
  margin: 0 auto;
  padding: 50px 15px 0 15px;
  justify-content: space-between;
}

.text-image p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--text-color-second);
}

.imagedecor-two {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style: none;
  margin: 0 auto;
  max-width: 1200px;
}

.imagedecor-two figure {
  background-color: var(--text-color-third);
  margin: 0;
  width: 370px;
}

.imagedecor-two figcaption {
  border-left: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-right: 1px solid rgb(238, 238, 238);
  margin: 0;
  padding: 20px 24px 20px 24px;
}

.imagedecor-two img {
  display: block;
}

.imagedecor-two h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  margin: 0;
}

.imagedecor-two p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
  margin: 0;
  color: var(--text-color-second);
}

.icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: black;
}
